*.suo
.vscode/.browse.VC.db
*.exe
*.ilk
*.user
concurrent.pro.user.14d392f
*.log
x64/Release/kv.obj
*.obj
*.tlog
concurrent.sln
*.png
bin/AppxManifest.xml
*.json
bin/TestConcurrentd.pdb
*.93b9e4d
concurrent.sdf
*.opendb
concurrent.vcxproj
*.pdb
concurrent.VC.db
*.filters
build/*